<p>DETAILS DU TWEET</p>
<table>
    <tr>
        <th>Date d'ajout</th>
        <td><%= @post.created_at %></td>
    </tr>
    <tr>
        <th>Date de modification</th>
        <td><%= @post.updated_at %></td>
    </tr>
    <tr>
        <th>Content</th>
        <td><%= @post.content %></td>
    </tr>
</table>