    <section class="middle">
      <p class="home">Home</p>
      <form class="form" action="index.html" method="post">
        <textarea name="name" rows="4" placeholder="what's happening ?"></textarea>
        <input type="submit" name="" value="Tweet" class="submit-btn">
      </form>
      <article>
        <div class="posts">
          <p class="post-date">2021-07-29 18:35:50</p>
          <div class="post">
            <p class="post-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <ul>
              <li><a href="posts" title="show"><i class="fas fa-eye"></i></a></li>
              <li><a href="#" title="edit"><i class="far fa-edit"></i></a></li>
              <li><a href="#" title="delete"><i class="fas fa-trash-alt"></i></a></li>
            </ul>
          </div>
        </div>
      </article>
    </section>