<section class="end">
      <p class="search"><i class="fas fa-search"></i> <input type="text" name="" placeholder="Search Twitter"> </p>
      <div class="card">
        <p class="trends">Trends for you</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur .</p>
      </div>
      <p class="copyright">Copyryght &copy Juillet 2021, All rights reserved</p>
    </section>
