<nav>
      <p class="logo">Tweeter Clone</p>
      <ul class="nav-menu">
        <li class=""><a href="/" class="active"><i class="fas fa-home"></i>   Home</a></li>
        <li><a href="#" class=""><i class="fas fa-hashtag"></i>   Explore</a></li>
        <li><a href="#" class=""><i class="fas fa-bell"></i>   Notifications</a></li>
        <li><a href="#" class=""><i class="fas fa-envelope"></i>   Messages</a></li>
        <li><a href="#" class=""><i class="fas fa-bookmark"></i>   Bookmarks</a></li>
        <li><a href="#" class=""><i class="fas fa-list-alt"></i>   Lists</a></li>
        <li><a href="#" class=""><i class="fas fa-user-circle"></i>   Profile</a></li>
        <li><a href="#" class=""><i class="fas fa-comment-dots"></i>   More</a></li>
      </ul>
      <p class="tweet-btn">Tweet</p>
    </nav>
    

